@page "/changepassword"


<MudContainer>
    <h1>Change Password</h1>
    <hr />
    <EditForm Model="_changePasswordModel" OnValidSubmit="ChangePassword">
        <DataAnnotationsValidator />

        <MudItem>
            <MudTextField Label="Current Password" @bind-Value="_changePasswordModel.CurrentPassword" Required="true" InputType="InputType.Password" />
            <ValidationMessage For="@(()=> _changePasswordModel.CurrentPassword)" />
        </MudItem>

        <MudItem>
            <MudTextField Label="New Password" @bind-Value="_changePasswordModel.NewPassword" Required="true" InputType="InputType.Password" />
            <ValidationMessage For="@(()=> _changePasswordModel.NewPassword)" />
        </MudItem>

        <MudItem>
            <MudTextField Label="Confirm New Password" @bind-Value="_confirmNewPassword" Required="true" InputType="InputType.Password" />
            <ValidationMessage For="@(()=> _confirmNewPassword)" />
        </MudItem>

        <br />

        <MudButton Class="goodbtn" Variant="Variant.Filled" Color="Color.Primary" Type="ButtonType.Submit" @onclick="ChangePassword">Change Password</MudButton>
    </EditForm>
</MudContainer>

@code {
    ChangePasswordModel _changePasswordModel = new ChangePasswordModel();
    string _confirmNewPassword = "";



    private async Task ChangePassword()
    {
        _changePasswordModel.Email = await localStorage.GetItemAsync<string>("EmailAddress");
        if (_changePasswordModel.NewPassword != _confirmNewPassword)
        {
            await js.InvokeVoidAsync("alert", "New password and confirm password do not match.");
            return;
        }

        var response = await Http.PostAsJsonAsync("api/Account/ChangePassword", _changePasswordModel);
        if (response.IsSuccessStatusCode)
        {
            // Change password request successful
            // You can display a success message here
            await js.InvokeVoidAsync("alert", "Password changed successfully.");
        }
        else
        {
            // Change password request failed
            // You can display an error message here
            await js.InvokeVoidAsync("alert", "Error: Unable to change password. Please try again later.");
        }
    }
}

        <style>
    .goodbtn {
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }
        </style>