@page "/login"


<MudContainer>
    <h1>Login</h1>
    <hr />
    <EditForm Model="_loginModel" OnValidSubmit="LoginUser">
        <DataAnnotationsValidator />

        <MudItem>
            <MudTextField Label="Email" @bind-Value="_loginModel.Email" Required="true" InputType="InputType.Email" />
            <ValidationMessage For="@(()=> _loginModel.Email)" />
        </MudItem>

        <MudItem>
            <MudTextField Label="Password" @bind-Value="_loginModel.Password" Required="true" InputType="InputType.Password" />
            <ValidationMessage For="@(()=> _loginModel.Password)" />
        </MudItem>

        <br />

        <MudButton Class="goodbtn" Variant="Variant.Filled" Color="Color.Primary" Type="ButtonType.Submit" @onclick="LoginUser">Login</MudButton>
    </EditForm>
</MudContainer>

@code {
    LoginModel _loginModel = new LoginModel();

    

    private async Task LoginUser()
    {
        var response = await Http.PostAsJsonAsync("api/Account/Login",_loginModel);
        if (response.IsSuccessStatusCode)
        {
            await localStorage.SetItemAsync("EmailAddress", _loginModel.Email);

            NavigationManager.NavigateTo("/changepassword");
        }
        else
        {
            await js.InvokeVoidAsync("alert", "Login failed. Please check your email and password.");
        }
    }
}
<style>
    .goodbtn {
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }</style>